
#app {
	display: block;
	width: 100%;
	margin: 35px auto;
	max-width: 400px;
	font-size: 0;
}

.calculator-screen {
	display: inline-block;
	width: 100%;
	color: #0984e3;
	text-align: right;
	vertical-align: middle;
	font-size: 3.8rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding: 3px;
}

.calculator-screen > div {
	width: 100%;
	padding-bottom: 25%;
	position: relative;
	border-radius: 4px;
	border: solid 1px #0984e3;
	overflow: hidden;
	overflow-x: scroll;	
}

.calculator-screen > div > div {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	padding: 0 9.25%;
	white-space: nowrap;	
}

.calculator-button {
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	font-size: 1.8rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding: 3px;
	color: #fff;
	cursor: pointer;
}

.calculator-button > div {
	display: block;
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	background: #0984e3;
	border-radius: 4px;
}

.double-width {
	width: 50%;
}

.double-width > div {
	padding-bottom: 50%;
}

.calculator-button > div::after{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.add::after {
	content: '\002B';
}
.subtract::after {
	content: '\2212';
}
.divide::after {
	content: '\00F7';
}
.multiply::after {
	content: '\00D7';
}
.equals::after {
	content: '\003D';
}
.percent::after {
	content: '\0025';
}
.decimal::after {
	content: '.';
}
.plusminus::after {
	content: '\00B1';
}
.reset::after {
	content: 'AC';
}
.zero::after {
	content: '0';
}
.one::after {
	content: '1';
}
.two::after {
	content: '2';
}
.three::after {
	content: '3';
}
.four::after {
	content: '4';
}
.five::after {
	content: '5';
}
.six::after {
	content: '6';
}
.seven::after {
	content: '7';
}
.eight::after {
	content: '8';
}
.nine::after {
	content: '9';
}